@using FPTBookstore.Models.Data;
@using PagedList.Mvc;
@model PagedList.IPagedList<Book>
@{
    ViewBag.Title = "ShowAllBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <p class="lead">Product Category</p>
        @Html.Action("ShowCategory", "Home")
    </div>
    <div class="col-md-9">
        <h3>All books</h3>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a title="@item.BookName" href="/Book/Details/@item.BookID">
                            <img src="/images/@item.Image" alt="@item.Image" width="180" height="250" />
                        </a>
                        <div class="caption">
                            <h4>
                                <a title="@item.BookName" href="/Book/Details/@item.BookID" style="color:green;">@(item.BookName.Length > 26 ? item.BookName.Substring(0, 22) + "..." : item.BookName)</a>
                            </h4>
                            <a class="btn btn-warning" href="/Cart/AddItem/?id=@item.BookID&quantity=1">Buying product</a>
                            @if (item.Price > 0)
                            {
                                <h4 class="pull-right" style="color:red;">@item.Price.Value.ToString("N0") USD</h4>
                            }
                            else
                            {
                                <h4 class="pull-right" style="color:red;">Contact</h4>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @*create page link link*@
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ShowAllBook", new { page = page }))
    </div>
</div>




