<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FPTBookstore">
    <meta name="author" content="VHP">
    <title>FPTBook</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/Client/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/Content/Client/css/shop-homepage.css" rel="stylesheet" />
    
    <link href="/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    @*DataTables*@
    <link href="/Content/Client/css/jquery.dataTables.min.css" rel="stylesheet" />
    @*!DataTables*@
    <link href="/Content/Client/css/footer.css" rel="stylesheet" />
</head>
<body style="background-color: #F0F0F0;border-bottom: none;">
    <!-- Navigation -->
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8722341.js"></script>
    <!-- End of HubSpot Embed Code -->
    <nav style="background-image: linear-gradient(to top, #a8edea 0%, #F0F0F0 100%);border-radius: 30px 30px 30px 30px;border:none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" style="font-size:25px; color:#ff6a00;"><i class="fa fa-home" aria-hidden="true"></i> FPTBookstore</a>
                        
                        
                    </li>

                    <li>
                        <a href="/Home/Contact" style="color:#ff6a00"><i class="fa fa-phone-square" aria-hidden="true" style="color: #ff6a00"></i> Contact</a>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3">
                    @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post, new { @class = "navbar-form", @role = "search" }))
                    {
                        <div class="input-group">
                            
                            @Html.TextBox("txtSearch", "", htmlAttributes: new { @class = "form-control", @placeholder = "Search books...", @style = "width: 370px;background: #FAFAFA;border-radius: 40px;" })
                            <span class="input-group-btn">
                                <button style="background: #ff6a00; border-radius: 40px;" class="btn btn-default" type="submit">
                                    <span style="color:white">Search</span>
                                </button>
                            </span>
                        </div>
                    }
                </div>
                @*Menu right*@
                @Html.Action("Login", "User")
                @*end Menu right*@
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /.container -->
    <div class="container-fluid" style="padding-left:0px;padding-right:0px">
        <hr>
        <div class="container">
            <footer>
              
               


            </footer>

        </div>  
        <!-- Footer -->
        <footer>
            <div style="background-image: linear-gradient(to top, #a8edea 0%, #F0F0F0 100%);border-radius: 39px 39px 0px 0px; " class="footer" id="footer">
                <div class="container">
                    
                    <div class="row">
                        
                        <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                            <h3 style="color:#515252;"> Help </h3>
                            <ul>
                                <li> <a href="/Home/Regulation" style="color:#515252;font-size:1.6rem"> Usage rules </a> </li>
                                <li> <a href="/Home/Payment" style="color:#515252;font-size:1.6rem"> Payment methods </a> </li>
                                <li> <a href="/Home/Transport" style="color:#515252;font-size:1.6rem"> Shipping methods </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                            <h3 style="color:#515252"> Support </h3>
                            <ul>
                                <li> <a href="/Home/Exchange" style="color:#515252;font-size:1.6rem"> Exchange and return policy </a> </li>
                                <li> <a href="/Home/Help" style="color:#515252;font-size:1.6rem"> Frequently asked questions </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3 style="color:#515252"> Account </h3>
                            <ul>
                                <li> <a href="/User/Register" style="color:#515252;font-size:1.6rem"> Register</a> </li>
                            </ul>
                        </div>

                        <div class="col-xs-3">
                            <div >
                                <h3 style="color:#515252"> Follow Us </h3>
                                
                            </div>
                            <ul class="footer-social ">
                                <li>
                                    <a rel="nofollow" href="https://www.youtube.com/" title="Youtube" target="_blank" style="color:#515252;font-size:1.6rem"><i class="fa fa-youtube-play"></i> Youtube</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="https://www.facebook.com/heinekencn84" title="Facebook" target="_blank" style="color:#515252;font-size:1.6rem"><i class="fa fa-facebook-square"></i> Facebook</a>
                                </li>

                            </ul>
                           
                        </div>
                    </div>                  
                    <div class="container" style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px; position: relative;">
                        <div style="color: white; position:absolute;color:#515252;font-size:1.6rem">
                            <p>&copy; @DateTime.Now.Year - FPTBook</p>
                        </div>
                        
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/Content/Client/js/jquery.js"></script>
    @*DataTables*@
    <script src="/Content/Client/js/jquery.dataTables.min.js"></script>
    @*!DataTables*@
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/Client/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AnnouncementofSuccess').delay(3000).slideUp();
        });
    </script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
