@model IEnumerable<FPTBookstore.Models.Data.Category>

@{
    ViewBag.Title = "ShowListCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Category Management</h2>

<p>
    @Html.ActionLink("Adding category", "AddCategory")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.CategoryID">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateCategory", new { id = item.CategoryID }) |
                    @Ajax.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryID }, new AjaxOptions
               {
                   Confirm = "Do you want to delete this category?",
                   OnComplete = "$('#row_" + @item.CategoryID + "').remove()",
                   HttpMethod = "Delete"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
